---
import { Image } from "astro:assets"
import type { z } from "astro:schema"
import type { navMainSchema } from "../content/config"
import { Icon } from "astro-icon/components"
import ButtonLink from "./ButtonLink.astro"

type Props = {
	link: z.infer<ReturnType<typeof navMainSchema>>
}
const { link } = Astro.props
---

<div
	class="invisible absolute inset-x-0 bottom-0 top-full -z-10 grid min-h-fit max-w-[1440px] grid-cols-4 grid-rows-[minmax(395px,1fr)] bg-white opacity-0 transition-opacity duration-200 group-hover/mainlink:visible group-hover/mainlink:z-10 group-hover/mainlink:opacity-100">
	<div class="relative flex min-h-fit flex-col gap-6 bg-neutral-100 p-12">
		<h2 class="text-3xl">{link.content.title}</h2>
		<p>{link.content.text}</p>
		<ButtonLink href={link.content.cta.url}>
			{link.content.cta.label}
		</ButtonLink>
		<svg
			class="absolute -right-0.5 top-0 h-full w-full max-w-fit"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="291.271 0 60.729 395">
			<path
				fill="#FFF"
				d="M291.271 0c38.176 56.373 60.481 124.366 60.481 197.5S329.446 338.627 291.271 395H352V0h-60.729z"
			></path>
		</svg>
	</div>
	<ul class="group/ul flex flex-col bg-white py-12 pl-12">
		{
			link.subLinks.map((subLink) => (
				<li class="group/sublink bg-white [&:first-child:not(:hover)>div]:opacity-100">
					<a
						class="inline-block py-1.5 text-lg font-semibold uppercase hover:text-primary"
						href={subLink.url}>
						{subLink.label}
					</a>
					<div class="absolute inset-0 col-span-2 col-start-3 grid grid-cols-2 grid-rows-1 bg-white opacity-0 transition-opacity duration-200 group-hover/sublink:z-20 group-hover/sublink:opacity-100">
						<div class="space-y-8 bg-white p-8">
							{subLink.content.icon && (
								<Icon class="h-12 w-full max-w-fit" name={subLink.content.icon} />
							)}
							{subLink.content.logo && (
								<Image
									class="h-12 w-full max-w-fit"
									src={subLink.content.logo}
									alt={subLink.label}
									width={250}
								/>
							)}
							<div class="h-[3px] w-8 bg-primary" />
							<p>{subLink.content.text}</p>
							<a
								class="flex items-center gap-1.5 text-sm font-semibold uppercase hover:text-primary"
								href={subLink.content.cta.url}>
								{subLink.content.cta.label}
								<Icon class="size-6 text-primary" name="mdi:chevron-double-right" />
							</a>
						</div>
						<Image
							class="h-full object-cover"
							src={subLink.content.image}
							alt={subLink.label}
							width={330}
						/>
					</div>
				</li>
			))
		}
	</ul>
</div>
